<h2>Введите число, чтобы узнать его квадратный корень</h2>
<%= form_tag("/method/view", :method => "get") do %>
  <%= label_tag("Число:") %>
  <%= text_field_tag(:v1, "3") %> <br/>
  <br/>
  <%= submit_tag("Calc result") %>
<% end %>
<br/>
<%= link_to 'Log out', '/signout' %>&nbsp;&nbsp;&nbsp;
<%= link_to 'List of users', '/users' %>
